.header {
    background-color: #000;
    color:#fff;
    height: 80 px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.avatar{height: 60px
    width: 60px
    center
}